.Logo {
  animation: Logo-spin infinite 20s linear;
  width: 200px;
  height: 200px;
  pointer-events: none;
  margin: auto;
  display: block;
}

@keyframes Logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
